<h2>Products (lmao)</h2>
<%= link_to new_admin_product_path do %>
<div class="btn btn-primary"> Add new product
</div>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"></th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Created At</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
        <tr>
            <th scope="row"><%= product.id %></th>
            <td>
                <% if product.images.present? %>
                    <%= image_tag product.images.first, width: 150 %>
                <% end %>
            </td>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= product.created_at %></td>
            <td>
                <%= link_to admin_product_path product do %>
                    <i class="bi bi-eye"></i>
                <% end %>
            </td>
        </tr>
    <% end %>
  </tbody>
</table>
