<!DOCTYPE html>
<html>
  <head>
    <title>InternFoodAndDrink</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    

  </head>

  <body>
    <div class="container-fuild admin-layout">
      <% if admin_logged_in? %>
        <div class="row">
          <div class="col-2">
            <%= render "layouts/sidebar" %>
          </div>
          <div class="col-10">
            <%= render "layouts/header" %> 
            <div class="container-content">
              <%= render 'shared/flash' %>
              <%= yield %>
            </div>
          </div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
